@font-face {
  font-family: 'HuiwenMincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://slylasironlaw.github.io/ZiTi2/HuiwenMincho-sub.woff2') format('woff2');
}
