@font-face {
  font-family: 'HuiwenMincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/slylasironlaw/ZiTi2@main/HuiwenMincho-sub.woff2') format('woff2');
}
